{% extends 'main.html' %}

{% block content %}
<div class="row">
		<div class="col-md-6 col-md-offset-3">
				<form action="" method="POST">
					{% csrf_token %}

					{% for field in form %}
						<div class="form-group">
							<label for="{{ field.id_for_label }}">{{ field.label }}:</label>
							{{ field }}
							{{ field.errors }}
						</div>
					{% endfor %}

					<div class="d-flex align-items-baseline justify-content-between">
						<button type="submit" class="btn btn-primary">Register</button>
						<p class="text-center">Already registered? <a href="{% url 'login' %}">Login</a></p>
					</div>
				</form>
		</div>
</div>
{% endblock content %}